div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #d4d700;
    color: green;
    border: 6px solid #55a630;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
