@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body {
  margin: 0;
  font-family: 'Rock 3D', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rock 3D', 'Courier New', monospace;
}
.button {
  font-family: 'Shizuru';
  background-color: #ffffff; /* Green */
  border: 4px solid;
  border-color: #ffff00;

  color: rgb(0, 0, 0);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 36px;
}
